ERP_SCAN_URL=https://voltrixbatteries.com/api/rfid/scanner/scan
DEFAULT_READER_PORT=9090
DEFAULT_SUBNET=192.168.18
DISCOVERY_FROM=1
DISCOVERY_TO=254
DISCOVERY_TIMEOUT_MS=220
DISCOVERY_CONCURRENCY=80
APP_UPDATE_URL=
